h1, h2{
	text-align: center;
	font-family: "Arial";
	color: #555;
	margin: 60px;
}

p{
	text-align: center;
	font-family: "Arial";
	color: #555;
	margin: 5px;
}

.side{
	float: left;
	height: 100%;
	width: 100px;
}

.side p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#centered {
	height: 550px;
	width: 750px;
	margin: 0 auto;
}
td.chosen, td.chosen:hover{
  background-color: #bbb;
}

td.average, td.average:hover, td.average.chosen, td.average.chosen:hover{
  background-color: #444;
}

td:hover{
  background-color: #ddd;
}

td{
  height: 50px;
  width: 50px;
  background-color: #eee;
}

table{
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}
