body{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #BE0B00;
}

#articleContainer{
	background-color: #BE0B00;
}

#discussionContainer{
	background-color: #fff;
	padding: 10px 20px;
	box-shadow: 0px -3px 10px #760B00;
}

#header{
	background-color: #fff;
	height: 60px;
	box-shadow: 0px 3px 10px #760B00;
	margin-bottom: 5px;
}

.container{
	height: 600px;
	width: 100%;/*1300px;*/
	margin: auto;
	padding: 10px;
}

.standardBox{
	width: 300px;
	height: 400px;
	margin: auto;
	padding: 15px;
}

.article{
	background-color: #fff;
	box-shadow: 0px 3px 10px #760B00;
	position: relative;
	font-family: 'Lora', serif;
	text-align: justify;
	cursor: pointer;
	overflow: hidden;
}

h1{
	margin: 0px;
	font-size: 1.8em;
	font-weight: 100;
}

#mainArticle{
	z-index: 1;
	height: 450px;
	top: 50px;
	width: 400px;
}

.discussion{
	width: 90%;
	height: auto;
	margin: 30px;
	padding: 0px 15px;
	border-left: solid 3px #FF7267;
	cursor: pointer;
}

.discussion p{
	display: inline;
	margin-right: 15px;
}

#discussionHeader{
	height: 60px;
}

.headerBar h1{
	text-align: center;
	position: relative;
	/*font-family: calibri, sans-serif;;*/
	color: #760B00;
	font-size: 2.5em;
}

#discussionHeader h1{
	top: 26px;
}

#header h1{
	top: -5px;
	font-size: 3.3em;
}

#discussionHeader p, #header.headerBar p{
	float: right;
	position: relative;
	top: -40px;
	right: 8%;
	font-size: 1.6em;
	color: #FF7267;
}

#header.headerBar p{
	top: -70px;
	cursor: pointer;
}

#discussionHeader p{
}

.discussion .upvote{
	margin-right: 0px;
}

.discussion .downvote, .discussion .upvote{
	color: #BE0B00;
}

.discussion .username, .discussion .score{
	color: #FF7267;
}
